;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Sep 03 02:46:21 2011
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "c:/home/saptarshi/emacs/emacs-sm-project-simpledb.el"
  "emacs-sm-project-simpledb.el"
  'emacs-lisp-mode
  '(semantic-stickyfunc-mode semantic-highlight-func-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-idle-tag-highlight-mode semantic-idle-completions-mode semantic-mru-bookmark-mode senator-minor-mode semantic-decoration-mode semantic-tag-folding-mode linum-mode)
  776
  '(739 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

